/* ---------------Toolbar--------------- */
.toolbar {
	position: fixed;
	top: -100px;
	right: 1%;
	padding: 8px;
	border-radius: 15px;
	border: solid 4px var(--text-dark);
	background-color: var(--white);
	z-index: 500;
	visibility: hidden;
	transition: all 0.8s var(--transition);
	overflow-x: hidden;
}
.toolbar-visible {
	visibility: visible;
	top: 2%;
}

.toolbar-btn {
	width: 50px;
	height: 50px;
	border-radius: 12px;
	color: var(--text-dark);
	font-size: 24px;
	transition: all 0.3s ease-in-out;
}
.toolbar-btn:not(:last-child) {
	margin-right: 10px;
}
.select-mode {
	border: solid 3px #ddd;
}
.select-mode:hover,
.select-mode:active,
.select-mode:focus {
	border: solid 4px #666;
}
.text-mode {
	font-family: fic400;
}
.text-mode,
.fire-mode {
	background-color: #ddd;
}
.text-mode:hover,
.text-mode:active,
.text-mode:focus,
.fire-mode:hover,
.fire-mode:active,
.fire-mode:focus,
.refresh:hover,
.refresh:active,
.refresh:focus {
	background-color: #ccc;
}
.toolbar-btn::after {
	position: fixed;
	top: 0.6%;
	padding-inline: 12px;
	border-radius: 18px;
	line-height: 1.5;
	font-family: fic500;
	font-size: 16px;
	text-transform: uppercase;
	color: var(--white);
	background-color: var(--text-dark);
}
.select-mode:hover.select-mode::after {
	right: 185px;
	content: 'Select mode';
}
.text-mode:hover.text-mode::after {
	right: 120px;
	content: 'Text mode';
}
.fire-mode:hover.fire-mode::after {
	right: 60px;
	content: 'Fire mode';
}
.refresh:hover.refresh::after {
	right: 0;
	content: 'Refresh';
}
@media (max-width: 414px) {
	.toolbar {
		border-radius: 10px;
	}
	.toolbar-btn {
		width: 30px;
		height: 30px;
		border-radius: 8px;
		font-size: 16px;
	}
	.toolbar-btn::after {
		font-size: 12px;
		line-height: 2;
	}
	.select-mode:hover.select-mode::after {
		right: 120px;
		content: 'Select mode';
	}
	.text-mode:hover.text-mode::after {
		right: 80px;
		content: 'Text mode';
	}
	.fire-mode:hover.fire-mode::after {
		right: 30px;
		content: 'Fire mode';
	}
	.refresh:hover.refresh::after {
		right: 0;
		content: 'Refresh';
	}
}
@media (min-width: 701px) {
	.toolbar {
		right: 30px;
	}
	.toolbar-visible {
		visibility: visible;
		top: 30px;
	}
	.toolbar-btn::after {
		top: 17px;
	}
}
/* ---------------Toolbar-TextMode--------------- */

[contenteditable='true'] {
	border: 6px dashed #00a3ff;
}
[contenteditable='true']:focus {
	outline: none;
}
/* ---------------Toolbar-FireMode--------------- */
.shot {
	visibility: hidden;
}
/* ---------------Score--------------- */
.score {
	top: -100px;
	position: fixed;
	right: 280px;
	padding: 8px;
	min-width: 3ch;
	height: 75px;
	border: 4px solid var(--text-dark);
	border-radius: 15px;
	font-size: 40px;
	font-family: fic400;
	color: var(--white);
	text-align: center;
	line-height: 1.2;
	background-color: var(--red);
	z-index: 400;
	transition: top 0.3s var(--transition);
}
.score-active {
	top: 2%;
}
@media (max-width: 414px) {
	.score {
		right: 200px;
		padding: 0;
		height: 55px;
		width: 55px;
		min-width: inherit;
		border-radius: 10px;
		font-size: 25px;
		line-height: 1.7;
	}
}
@media (min-width: 701px) {
	.score {
		right: 305px;
	}
	.score-active {
		top: 30px;
	}
}
/* ---------------Notifications--------------- */
.notifications {
	position: fixed;
	top: 100px;
	right: 1%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 8px;
	z-index: 400;
}
.notification {
	visibility: hidden;
	width: fit-content;
	background-color: #222;
	padding: 2.5vw 3vw;
	border-radius: 5vw;
	color: var(--white);
	font-family: fic500;
	font-size: 4vw;
	scale: 0;
	transition: all 0.3s ease-in-out;
}
.notification:hover {
	transform: scale(1.05);
}
.notification i {
	margin-left: 10px;
	vertical-align: -1px;
}
.unlocked {
	visibility: visible;
	scale: 1;
	transition: all 0.7s var(--transition);
}
@media (max-width: 414px) {
	.notifications {
		top: 80px;
	}
}
@media (min-width: 701px) {
	.notifications {
		top: 120px;
		right: 30px;
	}
	.notification {
		padding: 1vw 1.5vw;
		font-size: 1.8vw;
	}
}
