@font-face {
	font-family: fic300;
	src: url(./fonts/FictionalTrial-Light.otf);
}
@font-face {
	font-family: fic400;
	src: url(./fonts/FictionalTrial-Regular.otf);
}
@font-face {
	font-family: fic500;
	src: url(./fonts/FictionalTrial-SemiBold.otf);
}
@font-face {
	font-family: fic700;
	src: url(./fonts/FictionalTrial-Bold.otf);
}
@font-face {
	font-family: fic900;
	src: url(./fonts/FictionalTrial-UltraBold.otf);
}

:root {
	--white: #ffffff;
	--red: #fd4b38;
	--yellow: #ffd80c;
	--green: #3ccb09;
	--blue: #0500a3;
	--purple: #8a53ff;
	--black: #222222;
	--text-dark: #000000;
	--bg-color: #ffe9ce;
}
.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body {
	padding: 20px;
	background-color: var(--white);
}
.section {
	border-radius: 15px;
	height: calc(100vh - 40px);
}
.section.intro {
	position: relative;
	background-color: var(--bg-color);
}
.title {
	font-size: 18vw;
	font-family: fic700;
	color: var(--text-dark);
}
.sticker-container {
	position: absolute;
	height: 100%;
	width: 100%;
}
.sticker {
	position: absolute;
}
.round {
	width: 30vw;
	aspect-ratio: 1;
	border-radius: 100%;
}
.round .text {
	font-size: 7vw;
	color: var(--white);
}
.speechbubble {
	width: 65vw;
	padding: 3vw;
	border-radius: 30px;
	text-align: center;
	background-color: var(--white);
}
.speechtriangle {
	position: absolute;
	width: 30%;
	height: 25px;
}
polygon {
	fill: var(--white);
}
.label {
	width: fit-content;
	padding: 2vw;
	border-radius: 8px;
}
.label .text {
	font-size: 3vw;
}
.text {
	font-family: fic700;
	text-transform: uppercase;
	text-align: center;
}
.text-cap {
	font-family: fic500;
	font-size: 4vw;
}
.sticker-1 {
	top: 2%;
	left: 2%;
	transform: rotate(-25deg);
	z-index: 1;
}
.sticker-1 .round {
	background-color: var(--green);
}
.sticker-2 {
	top: 0;
	left: 25%;
	text-align: center;
	transform: rotate(12deg);
	font-size: 7vw;
	color: var(--white);
}
.sticker-2 .text,
.sticker-8 .text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	font-size: 7vw;
}
.sticker-2 .shout {
	width: 50vw;
}
.sticker-2 .shout path {
	fill: var(--red);
}
.sticker-3 {
	top: 14%;
	right: -2%;
	transform: rotate(30deg);
}
.sticker-3 .round {
	background-color: var(--purple);
}
.sticker-4 {
	top: 32%;
	left: 3%;
	transform: rotate(-5deg);
}
.sticker-4 .speechtriangle {
	bottom: -20px;
	right: 50px;
	transform: rotate(85deg);
}
.sticker-5 {
	top: 40%;
	right: -1%;
	transform: rotate(7deg);
}
.sticker-5 .label {
	background-color: var(--green);
}
.sticker-6 {
	bottom: 30%;
	left: 25%;
	transform: rotate(5deg);
}
.sticker-6 .speechtriangle {
	top: -20px;
	left: 30px;
	transform: rotate(-10deg);
}
.sticker-7 {
	bottom: 20%;
	left: 1%;
	transform: rotate(-15deg);
	z-index: 1;
}
.sticker-7 .label {
	background-color: var(--red);
}
.sticker-8 {
	bottom: -2%;
	left: 25%;
	transform: rotate(-12deg);
	color: var(--blue);
	text-align: center;
}
.sticker-8 .shout {
	width: 45vw;
}
.sticker-8 .shout path {
	fill: var(--yellow);
}
.sticker-9 {
	bottom: -1%;
	right: -1%;
	transform: rotate(8deg);
}
.sticker-9 .round {
	background-color: var(--purple);
}
.sticker-9 .round .text {
	font-family: fic400;
	text-transform: lowercase;
	font-size: 6vw;
	color: var(--white);
}
